<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>

{{#each users}}

<div>FirstName:{{this.firstName}}</div>
<div>LastName:{{this.lastName}}</div>
<div>Email:{{this.email}}</div>
<div>Password:{{this.password}}</div>
<div>Age:{{this.age}}</div>
<div>City:{{this.city}}</div>
    <hr>

{{/each}}

</body>
</html>